
.navbar {
    background-color: white;
}
.nav-link:hover {
    color: rgb(178, 70, 165);
}
.card-title {
    color: rgb(156, 69, 139);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-title-care {
    color: rgb(156, 69, 139);
}
.btn {
    border: solid 1px rgb(156, 69, 139);
    color: #000;
}
.btn:hover {
    background-color:rgb(156, 69, 139);
    color: #fff;
}
.about-img {
    border: solid 3px rgb(156, 69, 139);
}

.navbar-brand img{
    width: 90px;
}
.section-padding {
    padding: 100px 0;
}

.bg-img1 {
    background-image: url(./img/bg-2.png);
}
.bg-img2 {
    background-image: url(./img/bg_10.png);
}
.carousel-img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.w-100 {
    height: 100vh;
}
.bi {
    font-size: 4em;
    color: rgb(156, 69, 139);
}
.self {
    font-size: 1em;
}
.folow-us {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    color: rgb(156, 69, 139);
}
.folow-btn {
    color:  rgb(156, 69, 139);
    text-transform: uppercase;
}
.meet-us {
    font-weight: bold;
    color: gray;
}


.bi-facebook, .insta-footer, .bi-whatsapp {
    font-size: 2em;
    color: #fff;
}
.lead {
    color: rgb(156, 69, 139);
}
#card {
    margin-bottom: 1.1em;
}
#card-care {
    margin-bottom: 1.1em;
}
.footer {
    background-color: rgb(156, 69, 139);
    color: #fff;
}



/* Responsive CSS */

@media only screen and (max-width: 767px){
    .navbar-nav {
        text-align: center;
    }
}
@media (min-width: 576px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}
@media (max-width: 576px) {
    .general {
        text-align: center;
        flex-direction: column-reverse;
    }
    .about-container {
        margin-bottom: 2em;
    }
    .bg-img1 {
        background-image: url(./img/responsive_10.png);
    }
    .bg-img2 {
        background-image: url(./img/responsive_6.png);
    }
}
